<footer class="border-top footer text-muted" style="background-color: gray;">
    <div class="container">
        <label class="text-white-50">&copy; 2024 - Библиотека -</label> <a class="text-white-50" asp-area="" asp-controller="Home" asp-action="Privacy">Справка</a>
    </div>
</footer>