@model Product

<div class="row"> 
    <div class="col-6">
        <img src=@Model.ImagePath class="card-img-top" alt="Изображение книги">
    </div>
    <div class="col-6">
        <div class="card" style="width: 18rem; background-color: gray">
          <div class="card-body">
            <h5 class="card-title">@Model.Title</h5>
            <h6 class="card-subtitle mb-2 text-white">@Model.Author</h6>
            <p class="card-text">@Model.Description</p>
            <a class="btn btn-dark my-2" href="/home/index" role="button">Продолжить покупки</a>
            <a class="btn btn-dark my-2" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
          </div>
        </div>
    </div>
    

    
</div>