@{
    ViewData["Title"] = "Библиотека";
}


    <h1 class="text-white text-center"><i>@ViewData["Title"]</i></h1>

    <i class="my-5  text-center" style="color: white">Кузнецов Илья Андреевич - <strong style="color: white">Разработчик</strong></i>
    <br />
    <i class="my-5  text-center" style="color: white">Мамукаев Александр Маратович - <strong style="color: white">Разработчик</strong></i>

    <h1 class="text-center text-white">О библиотеке</h1>

    <p class="text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus pretium varius imperdiet. Duis rhoncus massa ut turpis hendrerit, sed porta justo sodales. Suspendisse a efficitur urna. Nunc eget metus nec erat mattis laoreet. Nulla facilisi. Nulla facilisi. Integer nec maximus orci, nec tincidunt dolor. Nulla facilisi.</p>
    <p class="text-white">Cras nisl est, rutrum eget eros et, eleifend vulputate lectus. In ac elit massa. Quisque vel nibh at quam fringilla consequat quis sed nisi. Nam vitae justo rutrum ligula lobortis ornare. Quisque at maximus lorem. Curabitur elit massa, convallis sed suscipit at, finibus in eros. Nunc id laoreet elit, cursus ullamcorper nulla. Nam commodo odio quis nibh sagittis consequat. Curabitur eget diam semper nisi euismod facilisis at ut sem.</p>
    <p class="text-white">Phasellus malesuada mattis volutpat. Vivamus nec lacus metus. Duis accumsan elit sed nulla elementum porttitor. Morbi vitae hendrerit diam. Suspendisse feugiat metus semper, consectetur erat maximus, scelerisque arcu. Aenean nisi metus, tincidunt quis ante vitae, dictum malesuada ex. Donec maximus feugiat risus non rutrum. Nunc lobortis, massa pellentesque venenatis porttitor, lorem metus commodo lorem, aliquet eleifend lacus turpis vel nisi. Phasellus ornare eu libero quis vestibulum. In accumsan orci ac leo ullamcorper, vitae pretium orci suscipit. Morbi massa leo, consectetur nec facilisis id, posuere eget urna. Nullam vitae mi et nibh congue dignissim semper in risus. Etiam nulla sapien, vulputate id leo quis, imperdiet mattis ligula. Curabitur ut convallis felis. Sed sed pretium mi. Nulla a quam vitae turpis placerat luctus nec et neque.</p>
